body {
    text-align: center;
    background: linear-gradient(greenyellow, blue);
    background-repeat: no-repeat;
    padding-top: 100px;
}

img {
    border-radius: 50%;
    width: 400px;
}

h1 {
    text-shadow: 2px 2px whitesmoke
}

.line {
    height: 7px;
    width: 70px;
    background-color: black;
    margin: 8px auto;
}

.menu {
    font-family: sans-serif;
    top: 10px;
    right: 30px;
    position: absolute;
    list-style: none;
    z-index: 10;
    cursor: pointer;
}

.links {
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    float: left;

    color: white;
    font-size: 20px;
}

.links:hover {
    background-color: orangered;
}

img {
    transition: transform .2s;
}

img:hover {
    transform: scale(0.9)
}

#contact {
    background: red;
}

#contact iframe {
    width: 100%;
}
